mixin arrow-btn(options)
  - var address = "";

  - if (options) {
  -  if (options.innerLinkId) {
  -    address = "location.href=" + "'" + options.innerLinkId + "'";
  -  }
  - }

    .arrow-btn(role="button", class=options ? options.cssClasses : '', onclick=address)
      .arrow-btn__top-arrow
        .arrow-btn__decorator
        <svg height="84" width="84" viewBox="0 0 84 84" class="svg__arrow-btn-top-arrow">
          <polygon points="0,0 42,15 83,0 42,80" style="fill:#b8574d;stroke:#b8574d;stroke-width:1" />
        </svg>
      .arrow-btn__bottom-arrow
        <svg height="84" width="84" viewBox="0 0 84 84" class="svg__arrow-btn-bottom-arrow">
          <polygon points="0,0 42,11 83,0 42,60" style="fill:#b8574d;stroke:#b8574d;stroke-width:1" />
        </svg>