.range-slider-container(id="rangeSliderContainerOne")
  input(type="range", min="0", max="100", value="50", class="range-slider", id="range_slider_1")
  .range-slider-container__track
  .range-slider-container__half-bg
  .range-slider-container__custom-thumb
    include ../../../components/shooting-mark/shooting-mark.pug
    +shooting-mark('range-slider-shooting-mark')