.btn-rect {
  width: 22.5rem;
  height: 5.6rem;
  background-color: $color-second;
  border-radius: 2px;
  text-transform: uppercase;
  color: $color-grey-light;
  font-family: $font-family-main;
  font-size: 1.4rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  &--transparent {
    border: 2px solid $color-grey-light;
    background-color: transparent;
  }
}