.btn-rect {
  width: 22.5rem;
  height: 5.6rem;
  background-color: red;
  border-radius: 2px;
  text-transform: uppercase;
  color: $color-grey-light;
  font-family: $font-family-main;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;

}