.main {
  position: relative;
  width: 100%;
  min-height: 99.4rem;
  background-color: rgb(32, 32, 32);
  background-image: url('../../img/bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(100% 0, 100% 88%, 50% 100%, 0 88%, 0 0);

  @media (max-width: $tab-port) {
    clip-path: polygon(100% 0, 100% 96%, 50% 100%, 0 96%, 0 0);
    padding: 0 .5rem .5rem .5rem;
  }

  &__logo {

  }

  &__slogan-small {
    font-size: 2.4rem;
    color: $color-main;
    margin-top: 3.4rem;
  }

  &__slogan {
    font-size: 7.2rem;
    color: $color-main;
    text-transform: uppercase;
    margin-top: 3.3rem;
    margin-bottom: 1.2rem;

    @media (max-width: $phone) {
      font-size: 5rem;
    }
  }

  &__decorator {
    margin: auto;
  }

  &__small-text {
    font-size: 1.4rem;
    color: $color-grey-light-3;
    margin-top: 4.2rem;
  }

  &__btn-container {
    margin-top: 14.47rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    & .btn-rect {
      margin: 0 1.5rem;

      @media (max-width: $phone) {
        margin-bottom: 2rem;
      }
    }
  }
}