.main
  img(src="", alt="logo", srcset="").logo.main__logo
  p.main__slogan-s такого ты еще не видел
  p.main__slogan Приватный софт для cs:go
  .main__decorator decorator
  p.main__small-text какой-нибудь мелкий текст

  .row
    button приобрести чит
    button узнать больше
  .main-target target