.main
  img(src=require('../../img/logo.png'), alt="logo", srcset="").logo.main__logo 
  p.main__slogan-small Tакого ты еще не видел
  p.main__slogan Приватный софт для cs:go
  .main__decorator decorator
  p.main__small-text какой-нибудь мелкий текст

  .row
    button.btn-rect приобрести чит
    button.btn-rect.btn-rect--transparent узнать больше
  .main-target target