.main
  img(src=require('../../img/logo.png'), alt="logo", srcset="").logo.main__logo 
  p.main__text-logo
    span.marked cheatingo
    | ru
  p.main__slogan-small Tакого ты еще не видел
  p.main__slogan Приватный софт <br> для cs:go
  div.decorator.main__decorator

  .row.main__btn-container
    button.btn-rect приобрести чит
    button.btn-rect.btn-rect--transparent узнать больше