.about {
  position: relative;
  margin: auto;
  width: 100%;
  min-height: inherit;
  padding: 4rem 2.2rem;

  &__shooting-mark {
    position: absolute;
    top: -3.5rem;
    left: 50%;
    transform: translateX(-50%);
  }

  &__cards {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 7.4rem;

    & .card {
      margin-bottom: 1rem;
    }
  }

  &__nav {
    margin-top: 2.2rem;
  }
}