.card {
  width: 31rem;
  min-height: 21rem;
  text-align: center;
  padding: 0 1rem 1rem 1rem;
  
  &__icon {
    width: 7.9rem;
    height: 7.9rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {

    }
  }


  &__header {
    color: $color-second;
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-top: 2rem;
  }

  &__decor-line {
    width: 4.1rem;
    height: 1px;
    background-color: #888888;
    box-shadow: 0px 1px 0px rgba(0,0,0,0.1);
    margin: 1.6rem auto;
  }


  &__text {
    text-align: center;
    color: $color-grey-2;
    font-size: 1.3rem;
    line-height: 2rem;
  }
}