.screenshots {
  width: 100%;
  min-height: inherit;
  padding: 13.3rem 0 0 0;
  position: relative;

  @media (max-width: $tab-port) {
    padding: 1rem;
  }

  &__h2 {
    font-size: 3.6rem;

    @media (max-width: $tab-port) {
      margin-top: 3rem;
    }
  }

  &__sub-header {
    margin: 2.5rem 0 4rem 0;
    font-size: 1.6rem;
  }

  &__nav {
    position: absolute;
    top: 3.4rem;
    left: 4.3rem;

    @media (max-width: $tab-port) {
      position: relative;
      top: 0;
      left: 1rem;
    }
  }

  &__wrapper {
    width: 100%;
    min-height: 55rem;
    margin-top: 12.3rem;
    background-color: $color-grey-2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
  }
}

.anticheats {
  min-height: inherit;
  padding-top: 15rem;

  &__h2 {
    font-size: 3.6rem;
    text-transform: capitalize;

    @media (max-width: $tab-port) {
      margin-top: 3rem;
    }
  }

  &__sub-header {
    margin: 2.5rem 0 4rem 0;
    font-size: 1.6rem;
  }

  &__row {
    width: 100%;
    min-height: 51rem;
    background: #635c43 url('../img/bg-2.png') no-repeat center / cover; 
    margin-top: 14.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    & .anticheat-card-small:not(:last-child) {
      margin-right: 14rem;

      @media (max-width: $tab-port) {
        margin-right: 7rem;
      }
      @media (max-width: $phone) {
        margin-right: 0;
      }
    }
  }


}