html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="./main.css")
    title Приватный софт для CS:GO
  body
    h1.visually-hidden Приватный софт для cs:go
    .wrapper.wrapper-index
      section.section
        include ../components/main/main.pug
      section.section
        include ../components/about/about.pug
      section.section
        include ../components/start-win/start-win.pug
      section.section
        div.screenshots
          include ../components/nav/nav.pug
          +nav(2, 'screenshots__nav')
          h2.screenshots__h2 скриншоты чита
          p.screenshots__sub-header Тут собрана небольшая галерея скриншотов
          div.decorator.decorator--reversed
      section.section
        h2 поддерживаемые античиты
      section.section
        h2 тарифный план
      footer.footer
        h2 footer

      script(src='./js/main.js')