html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="./css/main.css")
    title Приватный софт для CS:GO
  body
    h1.visually-hidden Приватный софт для cs:go
    .wrapper.wrapper-index
      section.section
        include ../components/main/_main.pug
      section.section
        h2 arrow buttons
      section.section
        h2 percentages / pie chart
      section.section
        h2 sliders
      section.section
        h2 stages
      section.section
        h2 form elements
      section.section
        h2 search / drop down
      section.section
        h2 user profile
      section.section
        h2 news & events
      section.section
        h2 location
      section.section
        h2 calendar
      section.section
        h2 messaging
      section.section
        h2 video

      script(src='./js/main.js')