html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="./main.css")
    title Приватный софт для CS:GO
  body
    h1.visually-hidden Приватный софт для cs:go
    .wrapper.wrapper-index
      section.section
        include ../components/main/main.pug
      section.section
        include ../components/about/about.pug
      section.section
        include ../components/start-win/start-win.pug
      section.section
        div.screenshots
          include ../components/nav/nav.pug
          +nav(2, 'screenshots__nav')
          h2.screenshots__h2 скриншоты чита
          p.screenshots__sub-header Тут собрана небольшая галерея скриншотов
          div.decorator.decorator--reversed
          .screenshots__wrapper
            include ../components/card_2/card_2.pug
            //- каждая карточка содержит аттрибут data-target в котором хранится id соответствующего ей скрытого по умолчанию модального окна
            +card_2({data: 'sheat_01', title: 'Название чита'})
              img(src=require('../img/1.png'))
            +card_2({data: 'sheat_02', title: 'Название чита'})
              img(src=require('../img/2.png'))
            +card_2({data: 'sheat_03', title: 'Название чита'})
              img(src=require('../img/3.png'))
            +card_2({data: 'sheat_04', title: 'Название чита'})
              img(src=require('../img/4.png'))
            
            //- модальные окна для каждой card_2
            include ../components/modal/modal.pug
            +modal({header: 'Гибкая помощь в прицеливании', id: 'sheat_01'})
              ul
                li  Выбор скорости наведения
                li  Выбор зоны наведения
                li  Выбор зоны наведения
            +modal({header: 'Название чита', id: 'sheat_02'})
              ul
                li  Перечисление возможностей
                li  Перечисление возможностей
            +modal({header: 'Название чита', id: 'sheat_03'})
            +modal({header: 'Название чита', id: 'sheat_04'})
      section.section
        .anticheats
          h2.anticheats__h2 поддерживаемые античиты
          p.anticheats__sub-header Текст по желанию
          div.decorator.decorator--reversed
          .anticheats__row
            include ../components/card-small/card-small.pug
            +card-small({text: 'SourceMode Anti-Cheat', cssClass: 'anticheat-card-small'})
            +card-small({text: 'Kickback', cssClass: 'anticheat-card-small'})
            +card-small({text: 'CSPL', cssClass: 'anticheat-card-small'})
            +card-small({text: 'FastCup', cssClass: 'anticheat-card-small'})
            +card-small({text: 'Dizard', cssClass: 'anticheat-card-small'})
      section.section.pricing
        p.pricing__title 
          span.marked RED-DRAGON
          |  для CS:GO
        div.decorator.decorator--reversed.pricing-decorator
        p.pricing__period
          span.pricing-period-money 76р /
          span.pricing-period-days на 12 дней
        .pricing__slider-container
          //- тут будет слайдер
        .pricing__slogan-section
          button.btn-rect.slogan-section-btn приобрести чит
          p.slogan-section
            | начни пользоваться <br> прямо 
            span.marked сейчас
        
      footer.footer
        .row.footer__row
          .col-6.footer__col
            p место для иконок____
          .col-6.footer__col
            p Все права защищены. &copy;
            p RED-DRAGON 2019

      script(src='./js/main.js')