html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="./main.css")
    title Приватный софт для CS:GO
  body
    h1.visually-hidden Приватный софт для cs:go
    .wrapper.wrapper-index#wrapper-top
      section.section
        include ../components/main/main.pug
      section.section#section-about
        include ../components/about/about.pug
      section.section
        include ../components/start-win/start-win.pug
      section.section#section-screenshots
        div.screenshots
          h2.screenshots__h2 скриншоты чита
          p.screenshots__sub-header Тут собрана небольшая галерея скриншотов
          div.decorator.decorator--reversed
          .screenshots__wrapper
            include ../components/card_2/card_2.pug
            //- каждая карточка содержит аттрибут data-target в котором хранится id соответствующего ей скрытого по умолчанию модального окна
            +card_2({data: 'sheat_01', title: 'Название чита', img: require('../components/card_2/c2-brain.png')})
              //- img(src=require('../img/1.png'))
            +card_2({data: 'sheat_02', title: 'Название чита', img: require('../components/card_2/c2-rabbit.png')})
              //- img(src=require('../img/2.png'))
            +card_2({data: 'sheat_03', title: 'Название чита', img: require('../components/card_2/c2-eye.png')})
              //- img(src=require('../img/3.png'))
            +card_2({data: 'sheat_04', title: 'Название чита', img: require('../components/card_2/c2-shootingmark.png')})
              //- img(src=require('../img/4.png'))
            
            //- модальные окна для каждой card_2
            include ../components/modal/modal.pug
            +modal({header: 'Гибкая помощь в прицеливании', id: 'sheat_01', picture: require('../img/1.png')})
              ul
                li  Выбор скорости наведения
                li  Выбор зоны наведения
                li  Выбор зоны наведения
            +modal({header: 'Название чита', id: 'sheat_02', picture: require('../img/2.png')})
              ul
                li  Перечисление возможностей
                li  Перечисление возможностей
            +modal({header: 'Название чита', id: 'sheat_03', picture: require('../img/3.png')})
              ul
                li  Перечисление возможностей
                li  Перечисление возможностей
            +modal({header: 'Название чита', id: 'sheat_04', picture: require('../img/4.png')})
              ul
                li  Перечисление возможностей
                li  Перечисление возможностей
      section.section
        .anticheats
          include ../components/buttons/arrow-btn/arrow-btn.pug
          +arrow-btn({cssClasses: 'anticheats-arrow-btn',  innerLinkId: '#section-pricing'})
          h2.anticheats__h2 поддерживаемые античиты
          p.anticheats__sub-header Текст по желанию
          div.decorator.decorator--reversed
          .anticheats__row
            include ../components/card-small/card-small.pug
            +card-small({text: 'SourceMode Anti-Cheat', cssClass: 'anticheat-card-small'})
            +card-small({text: 'Kickback', cssClass: 'anticheat-card-small'})
            +card-small({text: 'CSPL', cssClass: 'anticheat-card-small'})
            +card-small({text: 'FastCup', cssClass: 'anticheat-card-small'})
            +card-small({text: 'Dizard', cssClass: 'anticheat-card-small'})
      section.section.pricing#section-pricing
        p.pricing__title 
          span.marked RED-DRAGON
          |  для CS:GO
        div.decorator.decorator--reversed.pricing-decorator

        .pricing__calculator-wrapper
          p.pricing__period
            span.pricing-period-money 1050р /
            span.pricing-period-days на 30 дней
          .pricing__range-slider-wrapper
            .calculator-wrapper-scale-container
              p
                span.scale-number 1
                | 
                span.scale-word день
              p
                span.scale-number 14
                | 
                span.scale-word дней
              p
                span.scale-number 30
                | 
                span.scale-word дней
              p
                span.scale-number 60
                | 
                span.scale-word дней
              p
                span.scale-number 180
                | 
                span.scale-word дней
            //- тут будет слайдер
            include ../components/inputs/range-slider/range-slider.pug
        .pricing__slogan-section
          a(href="1050 / 30", id="calculatorAnchor")
            button.btn-rect.slogan-section-btn приобрести чит
          p.slogan-section
            | начни пользоваться <br> прямо 
            span.marked сейчас
        
      footer.footer
        include ../components/buttons/arrow-btn/arrow-btn.pug
        +arrow-btn({cssClasses: 'footer-arrow-btn arrow-btn--reversed', innerLinkId: '#wrapper-top'})
        .row.footer__row
          .col-6.footer__col
            //- p место для иконок____
          .col-6.footer__col
            p Все права защищены. &copy;
            p RED-DRAGON 2019

      script(src='./js/main.js')