mixin modal(opt)
  .modal.anim-appear(tabindex='-1', role='dialog', aria-hidden='true', class="hidden", id=opt ? opt.id : '')
    .modal-dialog.anim-appear(role='document')
      .modal-content
        .modal__header
          span.modal__title= opt ? opt.header : ''
          include ../../components/buttons/close-btn/close-btn.pug
          +close-btn('modal__close-btn')
        .modal__body
          .modal__embed-wrapper
            .modal__embed
              img(src=opt ? opt.picture : '', alt="modal picture")
          block
          //- здесь ожидается блок ul
          //- ul
          //-   li  Выбор скорости наведения
          //-   li  Выбор зоны наведения
          //-   li  Выбор зоны наведения
