.start-win
  include ../../components/buttons/arrow-btn/arrow-btn.pug
  +arrow-btn({cssClasses: 'start-win-arrow-btn', innerLinkId: '#section-screenshots'})
  .start-win__left-col
    ul.start-win__ul
      li.start-win__li
        p.start-win__header Начни <span>Побеждать</span>
      li.start-win__li
        p.start-win__sub-header Выбери тарифный план
        p.start-win__text Текст по желанию
        .start-win__icon-container
          img(src=require('../img/icon-v-1.png'), alt="icon picture")
      li.start-win__li
        p.start-win__sub-header Оплати подписку на чит
        p.start-win__text Текст по желанию
        .start-win__icon-container
          img(src=require('../img/icon-v-2.png'), alt="icon picture")
      li.start-win__li
        p.start-win__sub-header Настрой под себя
        p.start-win__text Текст по желанию
        .start-win__icon-container
          img(src=require('../img/icon-v-3.png'), alt="icon picture")
  .start-win__right-col