body {
  font-size: 1.6rem;
  font-family: $font-family-main;
}

h2 {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-family: $font-family-main;
}

a,
a:link,
a:visited {
  color: $color-grey;
  text-decoration: none;

  &:hover {
    color: $color-second;
    text-decoration: underline;
  }
}