// COLORS
$color-main:  #f4f5f9;
$color-second: #c94d3f;

$color-grey-light:    #ffffff;
$color-grey-light-2:  #f4f8f3;
$color-grey-light-3:  #c8c5bf;

$color-grey:    #969d96;
$color-grey-2:  #989898;
$color-grey-3:  #7e7d7d;
$color-grey-4:  #6a6a6a;

// FONTS
$font-family-main: 'Roboto', 'Arial', sans-serif;
$font-family-second: 'Roboto Slab', 'Arial', sans-serif;
$font-size: 2.239rem;
$font-size--medium: 2.98669rem;
$font-size--medium-mobile: 2rem;
$font-size--big: 3.73354rem;
$font-size--big-mobile: 3rem;

$line-height: 2.69rem;

$font-size--h1: 3.6268rem; // H1 для названия профессии будет использоваться. В макете это "graphic designer"
$font-size--h2: 5.9733rem; // h2 для разделов "profile", "contact" etc.
$font-size--h2-mobile: 4rem;

// GRID
/* Breakpoints
  0 - 600px:      Phone
  600 - 900px:    Tablet portrait
  900 - 1200px:   Tablet landscape
  [1200 - 1800]   is where our normal styles apply
  1800px + :      Bid desktop
*/
$phone: 37.5em; // 600px / 16px = 37.5em
$tab-port: 56.25em; // 900px / 16 = 56.25em
$tab-land: 75em; // 1200px / 16 = 75em;
$big-desktop: 112.5em; // 1800px / 16 = 112.5

$gutter-vertical: 4rem;
$gutter-vertical-small: 2rem;
$gutter-vertical-none: 0;

$gutter-horizontal: 4rem;
$gutter-horizontal-small: 2rem;
$gutter-horizontal-none: 0;