nav.nav
  ul
    li
      a(href="javascript:void()").nav__item Главная
    li
      a(href="javascript:void()").nav__item.nav__item--current О нас
    li
      a(href="javascript:void()").nav__item Скриншоты
    li
      a(href="javascript:void()").nav__item Тарифный план