mixin nav(num, cssClass)
  - var current = 'nav__item--current';
  nav.nav(class=cssClass)
    ul
      li
        a(href="javascript:void()", class=( num === 0 ? current : '')).nav__item Главная
      li
        a(href="javascript:void()", class=( num === 1 ? current : '')).nav__item О нас
      li
        a(href="javascript:void()", class=( num === 2 ? current : '')).nav__item Скриншоты
      li
        a(href="javascript:void()", class=( num === 3 ? current : '')).nav__item Тарифный план